<% if flash[:errors] %>
  <% flash[:errors].each do |error|%>
    <%= error %><br />
  <% end %>
<% end %>

<h1>Create A Band</h1>

<form action="<%= bands_url %>" method="post">
  <%= auth_token %>

  <label>
    Band Name
    <input type="text" name="band[name]" value="<%= @band.name %>">
  </label>
  <br>

  <button>Create Band</button>
</form>