<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
</head>
<body>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error|%>
      <%= error %><br />
    <% end %>
  <% end %>

  <div style="float: right;">
    <%= current_user.email if current_user %>
    <%= button_to "Logout", session_url, method: :delete if current_user %>
  </div>

  <%= yield %>
</body>
</html>
