<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
</head>
<body>
<% if flash[:errors] %>
  <% flash[:errors].each do |error|%>
    <%= error %><br />
  <% end %>
<% end %>

<%= yield %>

<%= button_to "Logout", session_url, method: :delete unless current_user %>
</body>
</html>
